table td{
    border: 1px solid gray;
    max-width: 250px;
    max-height: 250px;
    border-radius: 3%;
    position: relative;
    bottom: 8px;
    padding: 20px;
    font-size: large;
    table-layout: fixed;

}

img{

    width: 250px;
    height: 250px;
    
}





